
*/*/config.old
*/*/rootfs_config.old
build/
hardware
project-spec/hw-description
project-spec/configs/.Xil
project-spec/configs/*.log
project-spec/configs/.statistics
project-spec/configs/*.old
images
components
pre-built
.petalinux
!.petalinux/metadata
*.o
*.jou
*.log
